<!--{% load cache %}-->
<!--{% load count_froze_overdue from froze %}-->
<!--{% load count_froze_today from froze %}-->

<!--{% load designer_item_cc from froze %}-->
<!--{% load designer_item_vd from froze %}-->
<!--{% load designer_item_sd from froze %}-->
<!--{% load designer_item_others from froze %}-->
<!--{% designer_item_cc as designer_item_cc %}-->
<!--{% designer_item_vd as designer_item_vd %}-->
<!--{% designer_item_sd as designer_item_sd %}-->
<!--{% designer_item_others as designer_item_others %}-->

<!--{% load menu_counter_for_ko_tz from ko_tz %}-->

<!--{% if user.is_authenticated %}-->
<!--<div class="container"><div class="row"><div class="col-md-12">-->
<!--<nav class="navbar navbar-default">-->
<!--	<div class="container-fluid">-->
<!--		<div class="navbar-header">-->
<!--			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
<!--				<span class="sr-only">Toggle navigation</span>-->
<!--				<span class="icon-bar"></span>-->
<!--				<span class="icon-bar"></span>-->
<!--				<span class="icon-bar"></span>-->
<!--			</button>-->
<!--			{% if user.staff.departament == APPS_STAFF_DEPARTAMENT_VD or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDM or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDP or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDB %}-->
<!--				<a class="navbar-brand" href="{% url 'chief_froze_today' user.username %}">Реформа</a>-->
<!--			{% else %}-->
<!--				<a class="navbar-brand" href="{% url 'calendar_today_url' %}">Реформа</a>-->
<!--			{% endif %}-->
<!--		</div>-->
<!--		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--			<ul class="nav navbar-nav">-->
<!--				{% if user.staff.departament == APPS_STAFF_DEPARTAMENT_VD or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDM or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDE or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDP or user.staff.departament == APPS_STAFF_DEPARTAMENT_SDB or user.staff.departament == APPS_STAFF_DEPARTAMENT_CC or user.staff.departament == APPS_STAFF_DEPARTAMENT_OFI %}-->
<!--					<li><a href="{% url 'chief_froze_today' user.username %}">Замеры</a></li>-->
<!--				{% endif %}-->
<!--				<li><a href="{% url 'calendar_today_url' %}">Календарь</a></li>-->
<!--				{% if perms.froze.vozm_prosmotra_statistiki %}-->
<!--				{% cache 30 designer_items request.user.username %}-->
<!--					<li class="dropdown">-->
<!--						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Дизайнеры <span class="caret"></span></a>-->
<!--						<ul class="dropdown-menu multi-column columns-3">-->
<!--							<div class="row">-->
<!--								<div class="col-sm-4">-->
<!--									<ul class="multi-column-dropdown" role="menu">-->
<!--										<li role="presentation" class="dropdown-header">Выездные</li>-->
<!--										{% for d in designer_item_vd %}-->
<!--											{% count_froze_overdue d as count_froze_overdue %}-->
<!--											{% count_froze_today d as count_froze_today %}-->
<!--											<li class="{% if d.username == designer.username %}active{% endif %}">-->
<!--												<a href="{% url 'chief_froze_today' d.username %}">-->
<!--													{{ d.get_full_name }}-->
<!--													{% if count_froze_overdue %}<span class="label label-danger">{{ count_froze_overdue }}</span>{% endif %}-->
<!--													{% if count_froze_today %}&nbsp;<span class="label label-info">{{ count_froze_today }}</span>{% endif %}-->
<!--												</a>-->
<!--											</li>-->
<!--										{% endfor %}-->
<!--									</ul>-->
<!--								</div>-->
<!--								<div class="col-sm-4">-->
<!--									<ul class="multi-column-dropdown" role="menu">-->
<!--										<li role="presentation" class="dropdown-header">Салон</li>-->
<!--										{% for d in designer_item_sd %}-->
<!--											{% count_froze_overdue d as count_froze_overdue %}-->
<!--											{% count_froze_today d as count_froze_today %}-->
<!--											<li class="{% if d.username == designer.username %}active{% endif %}">-->
<!--												<a href="{% url 'chief_froze_today' d.username %}">-->
<!--													{{ d.get_full_name }}-->
<!--													{% if count_froze_overdue %}<span class="label label-danger">{{ count_froze_overdue }}</span>{% endif %}-->
<!--													{% if count_froze_today %}&nbsp;<span class="label label-info">{{ count_froze_today }}</span>{% endif %}-->
<!--												</a>-->
<!--											</li>-->
<!--										{% endfor %}-->
<!--									</ul>-->
<!--								</div>-->
<!--								<div class="col-sm-4">-->
<!--									<ul class="multi-column-dropdown" role="menu">-->
<!--										<li role="presentation" class="dropdown-header">Кол центр</li>-->
<!--										{% for d in designer_item_cc %}-->
<!--											{% count_froze_overdue d as count_froze_overdue %}-->
<!--											{% count_froze_today d as count_froze_today %}-->
<!--											<li class="{% if d.username == designer.username %}active{% endif %}">-->
<!--												<a href="{% url 'chief_froze_today' d.username %}">-->
<!--													{{ d.get_full_name }}-->
<!--													{% if count_froze_overdue %}<span class="label label-danger">{{ count_froze_overdue }}</span>{% endif %}-->
<!--													{% if count_froze_today %}&nbsp;<span class="label label-info">{{ count_froze_today }}</span>{% endif %}-->
<!--												</a>-->
<!--											</li>-->
<!--										{% endfor %}-->
<!--									</ul>-->
<!--									<ul class="multi-column-dropdown" role="menu" style="margin-top: 10px;">-->
<!--										<li role="presentation" class="dropdown-header">Другие</li>-->
<!--										{% for d in designer_item_others %}-->
<!--											{% count_froze_overdue d as count_froze_overdue %}-->
<!--											<li class="{% if d.username == designer.username %}active{% endif %}">-->
<!--												<a href="{% url 'chief_froze_today' d.username %}">-->
<!--													{{ d.get_full_name }}-->
<!--													{% if count_froze_overdue %}<span class="label label-danger">{{ count_froze_overdue }}</span>{% endif %}-->
<!--												</a>-->
<!--											</li>-->
<!--											{% endfor %}-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</ul>-->
<!--					</li>-->
<!--				{% endcache %}-->
<!--				{% endif %}-->
<!--				{% if perms.froze.vozm_prosmotra_statistiki %}-->
<!--					<li><a href="{% url 'stats:statistics_month_payment_designer' %}">Статистика</a></li>-->
<!--				{% endif %}-->
<!--				{% if perms.froze.vozm_prosmotra_otchetov or perms.froze.vozm_skachivat_vse_zayavki_v_xls or perms.froze.vozm_skachivat_neoplachen_zayavki_v_xls or perms.froze.vozm_skachivat_vse_zayavki_v_xls %}-->
<!--					<li class="dropdown">-->
<!--						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Отчёты <span class="caret"></span></a>-->
<!--						<ul class="dropdown-menu" role="menu">-->
<!--							{% if perms.froze.vozm_prosmotra_otchetov %}-->
<!--								<li><a href="{% url 'stats:report' %}">Отчёт</a></li>-->
<!--							{% endif %}-->
<!--							{% if perms.froze.vozm_prosmotra_otchetov %}-->
<!--								<li><a href="{% url 'otchety:report_the_form' %}">Скачать заявки в XLS за период</a></li>-->
<!--							{% endif %}-->
<!--							{% if perms.froze.vozm_skachivat_vse_zayavki_v_xls %}-->
<!--								<li><a href="{% url 'otchety:otchet_1_xls_as_html' %}">Скачать все заявки в XLS</a></li>-->
<!--							{% endif %}-->
<!--							{% if perms.froze.vozm_skachivat_neoplachen_zayavki_v_xls %}-->
<!--								<li><a href="{% url 'not_pay_frozes:the_form' %}">Скачать неопл. заявки в XLS</a></li>-->
<!--							{% endif %}-->
<!--							{% if perms.froze.vozm_skachivat_vse_zayavki_v_xls %}-->
<!--								<li><a href="{% url 'otchety:the_form' %}">Скачать статусы заявок в XLS</a></li>-->
<!--							{% endif %}-->
<!--						</ul>-->
<!--					</li>-->
<!--				{% endif %}-->
<!--				{% if perms.froze.vozm_prosmotra_grafika %}-->
<!--					<li><a href="{% url 'mcalendar_today_url' %}">График</a></li>-->
<!--				{% endif %}-->
<!--				{% if perms.froze.vozm_prosmatrivat_i_ispolzovat_stranicu_dlya_rukovoditelya_tz %}-->
<!--					<li><a href="{% url 'ko_tz:ko_tz_15' %}">ТЗ и КО &lt;!&ndash;для администратора отдела КО&ndash;&gt;</a></li>-->
<!--				{% endif %}-->
<!--				{% if user.staff.departament == APPS_STAFF_DEPARTAMENT_KO %}-->
<!--					<li><a href="{% url 'ko_tz:ko_tz_10' %}">ТЗ и КО для отдела КО</a></li>-->
<!--				{% endif %}-->
<!--				{% if user.staff.departament == APPS_STAFF_DEPARTAMENT_KOO %}-->
<!--					<li><a href="{% url 'ko_tz:ko_tz_75' %}">Архив ТЗ и КО</a></li>-->
<!--				{% endif %}-->
<!--				{% if perms.froze.vozm_prosmatrivat_i_raspechatyvat_grafik_tz %}-->
<!--					<li><a href="{% url 'technical:preprint' %}">График ТЗ</a></li>-->
<!--				{% endif %}-->
<!--				{% if user.staff.departament == APPS_STAFF_DEPARTAMENT_CC %}-->
<!--					{% menu_counter_for_ko_tz 60 as menu_counter_for_ko_tz %}-->
<!--					{% if menu_counter_for_ko_tz.60 %}-->
<!--						<li><a href="{% url 'ko_tz:ko_tz_60' %}" style="color: red;">Требуется повторн.ТЗ</a></li>-->
<!--					{% endif %}-->
<!--				{% endif %}-->
<!--			</ul>-->
<!--			<ul class="nav navbar-nav navbar-right">-->
<!--				{% if perms.froze.vozm_ispolzovaniya_poiska %}-->
<!--					<li><a href="{% url 'search:search_new' %}">Поиск</a></li>-->
<!--				{% endif %}-->
<!--				<li class="dropdown">-->
<!--					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.get_full_name }} <span class="caret"></span></a>-->
<!--					<ul class="dropdown-menu" role="menu">-->
<!--						{% if perms.froze.vozm_sozdavat_novyh_sotrudnikov_udalyat_uvolnyat_i_peremeshchat_mezhdu_otdelami %}-->
<!--							<li><a href="{% url 'staff:staff_list' %}">Сотрудники</a></li>-->
<!--						{% endif %}-->
<!--						<li><a href="{% url 'staff:sotrudniki' %}">Сотрудники и отделы</a></li>-->
<!--						<li><a href="{% url 'staff:prava_dostupa' %}">Сотрудники и права доступа</a></li>-->
<!--						<li><a href="{% url 'auth:logout' %}">Выход</a></li>-->
<!--					</ul>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--</nav>-->
<!--</div></div></div>-->
<!--{% endif %}-->
<!--{% comment %}-->
<!--	<li><a href="{% url 'service:service_list' username=user.username service_choice='today' %}">Сервис</a></li>-->
<!--	<li><a href="{% url 'dogovora:dizaynerskoe_voznagrazhdenie' %}">Акции</a></li>-->
<!--	<li><a href="{% url 'vechernie_otchety:view_otchet_vyezd' %}">Просмотр веч. отчетов от выездных дизайнеров</a></li>-->
<!--	<li><a href="{% url 'vechernie_otchety:send_otchet_vyezd' %}">Вечерний отчет</a></li>-->
<!--	<li><a href="{% url 'vechernie_otchety:view_otchet_call' %}">Просмотр веч. отчетов от кол центра</a></li>-->
<!--	<li><a href="{% url 'vechernie_otchety:send_otchet_call' %}">Вечерний отчет</a></li>-->
<!--{% endcomment %}-->
<!--{% comment %}-->
<!--	<li class="dropdown">-->
<!--		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ТЗ и КО <span class="caret"></span></a>-->
<!--		<ul class="dropdown-menu" role="menu">-->
<!--			<li><a href="{% url 'technical:technical_list_today' %}">ТЗ</a></li>-->
<!--			<li><a href="{% url 'ko:ko_supervisor' %}">КО</a></li>-->
<!--			<li><a href="{% url 'technical:preprint' %}">График ТЗ</a></li>-->
<!--		</ul>-->
<!--	</li>-->
<!--{% endcomment %}-->